*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.big-container {
    width: 75rem;
    margin: auto;
    padding: 1rem;
}

.container {
    width: 60rem;
    margin: auto;
    padding: 1rem;
}

section {
    padding-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*header nav*/

header {
    padding: 1rem;
    width: 100%;
}

.nav {
    padding: 1rem;
    position: fixed;
    background-color: white;
    right: 0;
    top: 0;
    left: 0;
    z-index: 999;
}

.link.left img {
    padding-right: 0.5rem;
}

.d-flex-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link {
    display: flex;

}

header ul {
    list-style: none;
}

.link a {
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}

.link.right button {
    background-color: #0061FF;
    color: white;
    border: transparent;
    padding: 0.5rem;
}

/* header jumbo */

.jumbo {
    background-color: #B4D0E7;
    position: relative;
    margin-top: 55px;
    margin-bottom: 5rem;
}

.jb-content {
    position: relative;
    top: 3.5rem;
}

.jumbo h1 {
    font-size: 4rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.jb-text {
    width: 80%;
}

.d-flex-jb {
    display: flex;
}

.col-jb.img img {
    max-width: 40rem;
}

.col-jb.text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30%;
}

.col-jb.text a {
    text-decoration: none;
    color: black;
}

.col-jb.text i {
    font-size: 2rem;
    padding: 0 0 2.5rem;
    font-weight: 800;
}

.button {
    background-color: #0061FF;
    color: white;
    padding: .8rem;
    border: transparent;
}

/* sezione colonne */

.sez-col h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.col-info {
    padding: 2rem;
}

.row {
    display: flex;
    gap: 1rem;
}

.col {
    flex-grow: 1;
    padding-bottom: 5rem;
}

.top-card {
    text-align: center;
}

.card-col {
    border: 1px solid gray;
    padding: .5rem;
}

.bottom-card {
    border-top: transparent;
    min-height: 910px;
}

.info-card ul {
    list-style: none;

}

.info-card ul li {
    padding: 1rem;
    
}

.border-hr {
    border-top: 1px solid gray;
    width: 5rem;
}

.ul-card-first{
    
}

.color-check i {
    color: #0061FF;
}

/* row-large */

.row-large {

}

.d-flex-card {
    display: flex;
    gap: 8rem;
}

.card-text {
    width: 60%;
}

.card-text ul {
    list-style: none;
}

.card-text ul li {
    padding: .5rem;
}

.card-text h3 {
    padding: 1rem 0;
}

.button-card {
    align-self: center;
}

/* partener section */

.img-partner img {
    width: 90%;
}

.col-jb.text p {
    font-size: 1.2rem;
    padding: .5rem;
}

.button.partner {
    border: 1px solid gray;
background-color: transparent;
color: rgb(87, 87, 87);
}